body{
    margin: 0;
    padding: 0;
}



header{
    justify-content: left;
    align-items: flex-start;
}

.ale{
    
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
}


.ale::before{
    content:"";
    height: 10px;
    width: 117px;
    background-color: rgb(255, 210, 1);
    position: absolute;
    bottom: 0;
}
.ale::after{
    content: "®";
    color: gray;
    font-size: 20px;
    opacity: 80%;
    text-decoration: none !important;
}

nav,a{
    color: black !important;
    text-transform: uppercase;
    
}

hr{
    background-color:  rgb(255, 210, 1);
    height: 5px;
    margin: 0;
    padding: 0;
}

.beau{
    margin: 0;
    padding: 0;
}

.colori{
 background-color: white;
 opacity: 70%;
}

input{
    height: 20px;
}


.b1{
    background-color:rgb(255, 210, 1);
    color: white;
}

.b2{
    background-color:black;
    color: white!important;
}

.her{
    background-color: black !important;
    height: 0.1px;
    margin-top: 200px;
}

@media(max-width:767px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 70%;
    }
}


@media(min-width:768px){}

@media(min-width:992px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 70%;
    }
}

@media(min-width:1800px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 55%;
    }

}

/*Test javascript*/

footer{
    background-color: rgb(243,244,248);
    line-height: 9px;

}

.controls{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
}

.tfi{
    font-size: 12px;
  
}

.magic{
    left: -25%;
    height: 300px;
    width: 1000px;
    background-color:white;
}

.hlel{
    width: 295px;
    left: 0%;
    background-color:rgb(243,244,248);
    font-size: 5px;
}