body{
    margin: 0;
    padding: 0;
}



header{
    justify-content: left;
    align-items: flex-start;
}

.ale{
    
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
}


.ale::before{
    content:"";
    height: 10px;
    width: 117px;
    background-color: rgb(255, 210, 1);
    position: absolute;
    bottom: 0;
}
.ale::after{
    content: "®";
    color: gray;
    font-size: 20px;
    opacity: 80%;
    text-decoration: none !important;
}

nav,a{
    color: black !important;
    text-transform: uppercase;
    cursor: pointer;
    
}

hr{
    background-color:  rgb(255, 210, 1);
    height: 5px;
    margin: 0;
    padding: 0;
}

.beau{
    margin: 0;
    padding: 0;
}

.colori{
 background-color: white;
 opacity: 70%;
}

input{
    height: 20px;
}


.b1{
    background-color:rgb(255, 210, 1);
    color: white;
}

.b2{
    background-color:black;
    color: white!important;
}

.her{
    background-color: black !important;
    height: 0.1px;
    margin-top: 200px;
}

@media(max-width:767px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 70%;
    }
}


@media(min-width:768px){}

@media(min-width:992px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 70%;
    }
}

@media(min-width:1800px){

    .colori{
        left: 52%;
        top: 20%
       }

       .locationvoiture{
        left: 35%;
        top: 55%;
    }

}

/*Test javascript*/

footer{
    background-color: rgb(243,244,248);
    line-height: 9px;

}

.controls{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
}

.tfi{
    font-size: 12px;
  
}

.magic{
    left: -25%;
    height: 200px;
    width: 1000px;
    background-color: rgba(255, 210, 1, 0.40)
}

.hlel{
    width: 295px;
    left: 0%;
    background-color:rgb(243,244,248);
    font-size: 5px;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 210, 1)!important;
}

.overlay{
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
     z-index: 4;
}

.popup{
    position: relative;
    margin: 12% auto;
    width: 45%;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 15px;
    z-index: 4;
}

.btnclose{
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    z-index: 5;
}

.plop{
    position: relative;
    width: 50%;
    height: 100px;
    background-color: black;
}

.plup{
    position: relative;
    width: 50%;
    height: 550px;
    background-color: yellow;
}

.ptikiff{
    margin-top: 7%;
    text-align: center;
    color: white;
    font-size: 3vh;
}

.tableau{
    margin-top: 50px;
}

.disponibilite{
    margin-top: 150px;
}

.zouper{
    position: absolute;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 50%;
    left: 25%;
}

.fifi{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.boutoon{
    
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.megadrole{
    border-style: none;
    height: 30px;
    width: 50%;
}

.modi{
    font-size: 30px;
    color: white;
}

.boot{
    
    background-color: rgba(48, 48, 48, 0.5);
    border-style: none;
    width: 100px;
}